= render "home/header"
#wrapper
  %h2.title-page Tasks
  .btn-create-new= link_to '<button type="button">New Task</button>'.html_safe, {controller: 'tasks', action: 'new'}
  %div{:style => "clear:both"}
  %div{:style => "margin-bottom: 20px"}
    - if alert
      %p.alert= alert
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th.table-header{:style => "width: 210px"}Title
        %th.table-header{:style => "width: 460px"}Description
        %th.table-header{:style => "width: 80px"}Duedate
        %th.table-header{:style => "width: 60px"}Priority
        %th.table-header{:style => "width: 60px"}Status
        %th.table-header{:style => "width: 110px"} Actions
    %tbody
      - @tasks_duetoday.each do |tasks_duetoday|
        %tr{:class => [cycle('even', 'odd'), ("open" if task.status == "Open")]}
          %td= tasks_duetoday.title
          %td= tasks_duetoday.description
          %td= tasks_duetoday.duedate.strftime('%d-%m-%Y')
          %td= tasks_duetoday.priority
          %td= tasks_duetoday.status
          %td.table-data
            = link_to 'View/Edit', {controller: 'tasks', action: 'edit', id: tasks_duetoday.id}
            |  #{link_to 'Delete', {controller: 'tasks', action: 'destroy', id: tasks_duetoday.id}, method: :delete, data: {confirm: "Are you sure?"}}
  %div{:style => "height: 20px;"}
    %div{:style => "margin-bottom: 20px"}
    %p.alert= @message
    %div{:style => "width: 30%; float: right;"}
      = form_tag home_path, :method => 'get' do
        %div{:style => "width: 180px; float: left;"}
          = text_field_tag :search, params[:search], :placeholder => "Search Title"
        %div{:style => "width: 100px; float: right;"}
          = submit_tag "Search"
    
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th{:style => "width: 210px"}= sort_link "title"
          %th{:style => "width: 460px"}= sort_link "description"
          %th{:style => "width: 80px"}= sort_link "duedate"
          %th{:style => "width: 60px"}= sort_link "priority"
          %th{:style => "width: 60px"}= sort_link "status"
          %th.table-header{:style => "width: 110px"} Actions
      %tbody
        - @tasks.each do |task|
          %tr{:class => [cycle('even', 'odd'), ("open" if task.status == "Open")]}
            %td= task.title
            %td= task.description
            %td= task.duedate.strftime('%d-%m-%Y')
            %td= task.priority
            %td= task.status
            %td.table-data
              = link_to 'View/Edit', {controller: 'tasks', action: 'edit', id: task.id}
              |  #{link_to 'Delete', {controller: 'tasks', action: 'destroy', id: task.id}, method: :delete, data: {confirm: "Are you sure?"}}

    = will_paginate @tasks
