= render "home/header"
#wrapper
  %h2.title-page Tasks
  .btn-create-new= link_to '<button type="button">New Task</button>'.html_safe, {controller: 'tasks', action: 'new'}
  %div{:style => "clear:both"}
  %div{:style => "margin-bottom: 20px"}
    - if alert
      %p.alert= alert
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th= sort_link "title"
        %th= sort_link "description"
        %th= sort_link "duedate"
        %th= sort_link "priority"
        %th= sort_link "status"
        %th.table-header Actions
    %tbody
      - @tasks_duetoday.each do |tasks_duetoday|
        %tr
          %td= tasks_duetoday.title
          %td= tasks_duetoday.description
          %td= tasks_duetoday.duedate.strftime('%d-%m-%Y')
          %td= tasks_duetoday.priority
          %td= tasks_duetoday.status
          %td.table-data
            = link_to 'View/Edit', {controller: 'tasks', action: 'edit', id: tasks_duetoday.id}
            |  #{link_to 'Delete', {controller: 'tasks', action: 'destroy', id: tasks_duetoday.id}, method: :delete}
  %div{:style => "height: 20px;"}
    %div{:style => "margin-bottom: 20px"}
      %p.alert= @message
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th= sort_link "title"
          %th= sort_link "description"
          %th= sort_link "duedate"
          %th= sort_link "priority"
          %th= sort_link "status"
          %th.table-header Actions
      %tbody
        - @tasks.each do |task|
          %tr
            %td= task.title
            %td= task.description
            %td= task.duedate.strftime('%d-%m-%Y')
            %td= task.priority
            %td= task.status
            %td.table-data
              = link_to 'View/Edit', {controller: 'tasks', action: 'edit', id: task.id}
              |  #{link_to 'Delete', {controller: 'tasks', action: 'destroy', id: task.id}, method: :delete}
